body, html {
    height: 100%; /* Make sure the body takes up full viewport height */
    margin: 0;
    padding: 0;
    display: flex; /* Enables flexbox for the body */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    font-family: Arial, sans-serif;
    background-color: #212529;
    color: white;
}

.card {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border: 1px solid white; /* Thin black outline */
}

#home-card {
    width: 20rem;
}

#home-logo {
    max-width: 12rem;
}

#weather {
    margin-top: 20px;
}